<ngx-spinner class=" [@fadeOutAnimation]"
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <img src="../../../assets/logo-Spinner.png.png" class="spinnerimage float-animation">
</ngx-spinner>
<div class="example2">
  <h2 class="titletag">{{ editmode !== false ? 'Editar Tarea' : 'Agregar Tarea' }}</h2>
  <form [formGroup]="tareaForm" class="form-container" >
      <div class="mb-3">
        <label for="nombreTarea" class="form-label">Nombre de la Tarea</label>
        <input type="text" formControlName="nombreTarea" class="form-control" id="nombreTarea" placeholder="Ingrese el nombre de la tarea">
        <div *ngIf="tareaForm.get('nombreTarea')?.errors && (tareaForm.get('nombreTarea')?.dirty || tareaForm.get('nombreTarea')?.touched)">
          <div class="errorAlert" *ngIf="tareaForm.get('nombreTarea')?.errors">El Nombre de Tarea es requerido</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción</label>
        <textarea formControlName="descripcion" class="form-control" maxlength="256" id="descripcion" rows="4" placeholder="Ingrese la descripción de la tarea"></textarea>
        <div *ngIf="tareaForm.get('descripcion')?.errors && (tareaForm.get('descripcion')?.dirty || tareaForm.get('descripcion')?.touched)">
          <div class="errorAlert" *ngIf="tareaForm.get('descripcion')?.errors">La Descripción es requerida</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="tipoTarea" class="form-label">Tipo de Tarea</label>
        <select class="form-select" id="tipoTarea" formControlName="tipoTarea" (change)="loadempresas()">
          <option *ngFor="let formType of formtypes" [value]="formType.id">{{ formType.description }}</option>
        </select>
        <div *ngIf="tareaForm.get('tipoTarea')?.errors && (tareaForm.get('tipoTarea')?.dirty || tareaForm.get('tipoTarea')?.touched)">
          <div class="errorAlert" *ngIf="tareaForm.get('tipoTarea')?.errors">El tipo de Tarea es requerido</div>
        </div>
      </div>
      
        <div class="mb-3" *ngIf="externo">
            <label for="empresas" class="form-label" >Empresas</label>
            <select class="form-select" id="empresas" formControlName="empresa" (change)="loadempleados(this.tareaForm.get('empresa')?.value)">
                <option *ngFor="let company of companies" [value]="company.id">{{ company.name }}</option>
            </select>
        </div>

        <div class="mb-3" >
            <label for="empresas" class="form-label" >Empleados</label>
            <select class="form-select" id="empleados" formControlName="persona">
                <option *ngFor="let person of persons" [value]="person.id">{{ person.name }}</option>
            </select>
        </div>


      <div class="mb-3">
        <label for="prioridad" class="form-label">Prioridad</label>
        <input type="number" max="10" formControlName="prioridad" class="form-control" id="prioridad" placeholder="Ingrese la prioridad de la tarea">
        <div *ngIf="tareaForm.get('prioridad')?.errors && (tareaForm.get('prioridad')?.dirty || tareaForm.get('prioridad')?.touched)">
          <div class="errorAlert" *ngIf="tareaForm.get('prioridad')?.errors">Ingrese un valor numérico válido, Rango: (1-10)</div>
        </div>
      </div>
      <!-- Agrega otros campos de entrada aquí -->
      <div class="mb-3 d-flex justify-content-center"> <!-- Agrega la clase d-flex y justify-content-center para centrar horizontalmente -->
        <button type="submit" [disabled]="tareaForm.invalid" (click)="saveForm()" class="btn btn-primary">Guardar Tarea</button>
      </div>
      

    </form>
  </div>
  