.example2{
    background-image: url('../../../assets/Background.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container{
    width: 60%;
}

.titletag{
    color: white;
}

.form-label{
    color: white;
    text-shadow: -1px -1px 0 #000000,  
    1px -1px 0 #000000,  
    -1px 1px 0 #000000,  
    1px 1px 0 #000000;
}

.errorAlert{
    color: red;
    font-weight: bolder;
    text-shadow: -1px -1px 0 #fff,  
    1px -1px 0 #fff,  
    -1px 1px 0 #fff,  
    1px 1px 0 #fff;
}

.d-flex {
    display: flex; /* Establece el contenedor como un contenedor flex */
  }
  
  .justify-content-center {
    justify-content: center; /* Centra horizontalmente los elementos dentro del contenedor flex */
  }
  