<ngx-spinner class=" [@fadeOutAnimation]"
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <img src="../../../assets/logo-Spinner.png.png" class="spinnerimage float-animation">
</ngx-spinner>
<div class="example1">
    <div class="flex-title">
        <h1 class="tittle">Listado de Tareas Eximo</h1>
        <a href="https://eximo.com.ar/" target="_blank"> <!-- target="_blank" abre el enlace en una nueva pestaña -->
            <img class="img-Eximo animate-slide-down" src="https://eximo.com.ar/wp-content/uploads/2023/03/logo-eximo-w-1.svg">
        </a>    
    </div>
    <!-- Utiliza clases de Bootstrap para estilizar elementos -->

    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Prioridad</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Tipo de tarea</th>
                <th scope="col">Persona asignada</th>
                <th scope="col">Editar</th>
                <th scope="col">Desactivar</th>

            </tr>
        </thead>
        <tbody *ngFor="let result of results">
            <tr class="flexaux">
                <th scope="row">{{result.priority}}</th>
                <td>{{result.name}}</td>
                <td>{{result.description}}</td>
                <td>{{result.formTypeDescription}}</td>
                <td>{{result.personName}}</td>
                <td>
                    <button (click)="edit(result.id)" class=" btn-sm btn-danger edit-button">
                        <img src="assets/edit-icon.png" alt="Editar">
                    </button>
                </td>
                <td>
                    <button  class=" btn-sm btn-danger delete-button">
                        <img src="assets/delete-icon.png" (click)="delete(result.id)" alt="Eliminar">
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="text-center">
        <p class="fs-3 text-white">Cree una nueva Tarea ahora!</p>
        <button type="button" (click)="goto()" class="btn btn-danger">Crear</button>
    </div>
      
</div>
