.tittle{
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
}

th {
    background-color: black; /* Fondo negro */
    color: white; /* Letras blancas */
  }
  
.example1 {
    height: 100vh;
    width: 100vw;
    background-image: url('../../../assets/Background-Form.jpg');
    background-size: cover;
}


.flex-title{
    display: flex;
    justify-content: space-between;
}

.img-Eximo{
    width: 200px;
    height: 150px;
}


.animate-slide-down {
    animation: slideDown 2.5s ease-out;
  }

  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


.col-header{
    background-color: black;
}


.edit-button {
    background-color: transparent; 
    border: none; 
    padding: 0;
}

.delete-button {
    background-color: transparent; 
    border: none;
    padding: 0; 
}
.edit-button img{
    width: 45px; 
    height: 45px;
    margin-top: -2.5px;
}

 .delete-button img {
    width: 40px; 
    height: 40px;
}

.edit-button:focus, .delete-button:focus {
    outline: none;
}


  
.text-center {
    text-align: center;
  }
  
  .fs-3 {
    font-size: 24px; /* Tamaño de la letra */
  }
  
  .text-white {
    color: white; /* Color del texto blanco */
  }
  
  .btn {
    vertical-align: middle; /* Centrar verticalmente */
  }
  